.Publicacion {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.publicacion-content {
  padding: 16px;
}

.publicacion-title {
  font-size: 1.25rem;
  margin: 0 0 8px;
}

.publicacion-wrapp-buttons {
  display: flex;
  justify-content: space-around;
}

.publicacion-button {
  padding: 10px; /* Ajusta el padding para que el botón sea más grande */
  font-size: 1rem;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 50%; /* Hace que el botón sea completamente redondo */
  cursor: pointer;
  width: 50px; /* Ajusta el ancho */
  height: 50px; /* Ajusta la altura */
  display: flex;
  align-items: center;
  justify-content: center;
}


.publicacion-button:hover {
  background-color: #a84032;
}
